/Build/
/Configuration/*.example
/Configuration/*/*.example
/Configuration/README
/Data/
/Packages/Framework
/Packages/Libraries
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat
/.env
/docker/mysql/