/Build/
/Configuration/*.example
/Configuration/*/*.example
/Configuration/**/*.example
/Configuration/README
/Data/
/DistributionPackages/Framework
/DistributionPackages/Libraries
/Packages/
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat
/.env

/.docker_volumes/
/.idea/
/.DS_Store
/docker-compose.yaml
