<f:layout name="Default"/>

<f:section name="Title">Show telegraph "{telegraph.name}"</f:section>

<f:section name="TitleRight">

</f:section>

<f:section name="Content">
    <div class="card mb-3">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">Identifier</dt>
                <dd class="col-sm-10">{telegraph.identifier}</dd>
                <dt class="col-sm-2">Online</dt>
                <dd class="col-sm-10">
                    <f:switch expression="{telegraph.lastSeenState}">
                        <f:case value="-1"><span class="badge badge-info">Unknown</span></f:case>
                        <f:case value="0"><span class="badge badge-danger">Offline</span></f:case>
                        <f:case value="1"><span class="badge badge-warning">Delayed</span></f:case>
                        <f:case value="2"><span class="badge badge-success">Online</span></f:case>
                        <f:defaultCase>???????????</f:defaultCase>
                    </f:switch>
                </dd>

                <dt class="col-sm-2">Instant</dt>
                <dd class="col-sm-10">{telegraph.status.instant.count}</dd>
                <dt class="col-sm-2">Delayed</dt>
                <dd class="col-sm-10">{telegraph.status.delayed.count}</dd>
            </dl>
            <f:link.action action="edit" arguments="{telegraph: telegraph}" class="btn btn-outline-primary float-right" additionalAttributes="{'role': 'button'}">Edit telegraph</f:link.action>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Api endpoints
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">checkStatus link</dt>
                <dd class="col-sm-10"><f:uri.action action="checkStatus" controller="Telegraph" package="Langeland.TelegraphApi" format="json" arguments="{telegraph: telegraph}">link</f:uri.action></dd>
                <dt class="col-sm-2">listTelegrams link</dt>
                <dd class="col-sm-10"><f:uri.action action="listTelegrams" controller="Telegraph" package="Langeland.TelegraphApi" format="json" arguments="{telegraph: telegraph}">link</f:uri.action></dd>
                <dt class="col-sm-2">push link</dt>
                <dd class="col-sm-10"><f:uri.action action="push" controller="Telegraph" package="Langeland.TelegraphApi" format="json" arguments="{telegraph: telegraph}">link</f:uri.action></dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="display-4">Telegrams</h2>
        </div>
        <div class="col">
            <f:link.action action="new" arguments="{telegraph: telegraph}" controller="Telegram"
                           class="btn btn-outline-primary btn-lg mb-3 float-right" additionalAttributes="{'role': 'button'}">Create a new telegram
            </f:link.action>
        </div>
    </div>

    <f:for each="{telegrams}" as="telegram">

        <div class="card mb-3">
            <div class="card-header">
                {telegram.identifier}
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <dl class="row">
                    <dt class="col-sm-2">created</dt>
                    <dd class="col-sm-10"><f:format.date date="{telegram.created}" format="Y-m-d H:i:s"/></dd>
                    <dt class="col-sm-2">printed</dt>
                    <dd class="col-sm-10"><f:format.date date="{telegram.printed}" format="Y-m-d H:i:s"/></dd>
                    <dt class="col-sm-2">channel</dt>
                    <dd class="col-sm-10">{telegram.channel}</dd>
                    <dt class="col-sm-2">instant</dt>
                    <dd class="col-sm-10">{telegram.instant}</dd>
                    <dt class="col-sm-2">tag</dt>
                    <dd class="col-sm-10">{telegram.tag}</dd>
                </dl>
                <p class="card-text">
                    <img class="img-fluid border border-info" style="image-rendering: pixelated;" src="{telegram.messageEncoded}">
                </p>

                <f:form action="delete" controller="Telegram" arguments="{telegram: telegram}">
                    <f:form.submit name="delete" value="Delete" class="btn btn-primary" />
                </f:form>
            </div>
        </div>
        <div class="clearfix"></div>
    </f:for>

    <f:link.action action="index">Back</f:link.action>
</f:section>
